Options -Indexes -FollowSymLinks
<IfModule mod_headers.c>
    Header always set X-Content-Type-Options "nosniff"
    Header always set Cache-Control "no-store"
</IfModule>

<FilesMatch "^(message-submit|message-status)\.php$">
    Require all granted
</FilesMatch>

<FilesMatch "^(messages-guard|messages-notify)\.php$">
    Require all denied
</FilesMatch>
